.guides {
  max-width: 960px;
  margin: 40px auto;
  letter-spacing: 1px;
  line-height: 1.6em; 
}
.error{
  background:pink;
  color:crimson;
  border: 1px solid crimson;
  text-align: center;
  border-radius: 8px;
  font-weight:600;
}
.card {
  background: white;
  padding: 10px 20px;
  border-radius: 6px;
  margin: 20px auto;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.card h3 {
  margin-bottom: 0;
}
.card h5 {
  margin-top: 0;
  color: #777;
}